<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="css/welcome.css">
  <link rel="stylesheet" href="css/sweetalert2.css">
</head>

<body>
  <div class="welcomeLogo">
    <h1 class="welcome">Welcome to </h1>
    <img src="images/sticky.png" alt="sticky" class="sticky">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  </div>
  <br>
  <form class="" action="/home" method="post">
    <div class="container plan">
      <input id="uno" class="btn btn-lg btn-warning welcome_plan" type="submit" name="planA" value="Plan A"  />
      <input type="hidden" name="user" value=<%=user%>>
      <a href="#" onclick="information()" value="Plan A">More Information...</a>
    </div>
    <br>
    <div class="container plan">
      <input id="dos" class="btn btn-lg btn-warning welcome_plan" type="submit" name="planB" value="Plan B"/>
      <input type="hidden" name="userB" value=<%=user%>>
      <a href="#" onclick="planB()" value="Plan B">More Information...</a>
    </div>

    <br>
    <div class="container plan">
      <input id="tres" class="btn btn-lg btn-warning welcome_plan" type="submit" name="planC" value="Plan C" />
      <input type="hidden" name="userC" value=<%=user%>>
      <a href="#" onclick="planC()" value="Plan C">More Information...</a>
    </div>
  </form>



  <script>
    function information() {
        Swal.fire({
          title: 'Plan A',
          text: 'Max 5 stickies for creation, unlimited comments',
          textColor:'#fff',
          imageUrl: 'images/sticky.png',
          imageWidth: 250,
          imageHeight: 100,
          imageAlt: 'Custom image',
          background:'#214252',
        })

    }

    function planB(){
      Swal.fire({
        title: 'Plan B',
        text: 'Max 3 stickies for creation, unlimited comments',
        imageUrl: 'images/sticky.png',
        imageWidth: 250,
        imageHeight: 100,
        imageAlt: 'Custom image',
        background:'#f05454',
      })
    }

    function planC(){
      Swal.fire({
        title: 'Plan C',
        text: 'Max 2 stickies for creation, unlimited comments',
        imageUrl: 'images/sticky.png',
        imageWidth: 250,
        imageHeight: 100,
        imageAlt: 'Custom image',
        background:'#3797a4',
      })
    }
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="jquery/sweetalert2.all.min.js" charset="utf-8"></script>
</body>

</html>
